*~
*.a
*.dot
*.lo
*.la
*.msi
*.o
*.org
*.out
*.png
.deps
.dirstamp
.libs
.Tpo
COPYING
INSTALL
GPATH
GRTAGS
GTAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
compile
config.ac
config.guess
config.log
config.status
config.sub
configure
depcomp
depot
install-sh
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
megafile
missing
stamp-h1
src/*/count-factors
src/*/count-leaves
src/*/t
src/*/other
src/cluster/blob
src/cluster/subgraph
src/lexicographical-merge/lexicographical-merge
src/longest-prefix/cyclic-rotation
src/longest-prefix/cyclic-substring
src/longest-prefix/longest-prefix-suffix
src/longest-prefix/tandem-arrays
src/perf/find
src/string-function/count-prefixes
